<div>
  <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos corporis cumque voluptatum.</h3>
  <a routerLink="/category"><mat-icon>explore</mat-icon>Explore</a>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit pariatur quod expedita accusamus quasi, voluptas vitae ex enim rerum aperiam atque a qui vel tempore molestias laboriosam doloremque voluptate error consequuntur iusto corporis facilis. Impedit ratione, et magnam assumenda consequuntur aut asperiores?</h4>
</div>
