@import "color.scss";

:host {
  div {
    padding: 5rem 2rem;
    margin: 5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray-25;
    gap: 2rem;

    h3, h4{
      margin: 0;
      max-width: 45%;
      text-align: center;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      padding: 1rem 1.5rem;
      background-color: $gray-600;
      border-radius: 0.75rem;
      font-size: 1.05rem;
      color: $gray-25;
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0);
      transition: box-shadow 0.3s ease;

      mat-icon{
        transition: transform 0.5s ease;
      }
    }
    a:hover{

      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);

      mat-icon{
        transform: rotate(180deg);
      }
    }
  }
}
@media (max-width: 1200px){
  h3, h4{
    max-width: 75% !important;
  }
}
@media (max-width: 600px){
  h3, h4{
    max-width: 90% !important;
  }
}
@media (max-width: 500px){
  h3, h4{
    max-width: 100% !important;
  }
}
