<div>
  <h3>Welcome to our <span>image sharing platform!</span> We're glad you're here. Our site is the<span> perfect place</span> for you to share your favorite images with <span>friends</span> ,<span> family</span> , and the <span>world.</span></h3>
  <a routerLink="/category"><mat-icon>explore</mat-icon>Explore</a>
  <h4>With our easy-to-use platform, you can quickly upload and share <span>images</span> from your computer or mobile device. Whether you're a <span> professional photographer</span> looking to showcase your work, or a <span>casual user </span> who wants to share snapshots of your daily life, our site has everything you need to get started.</h4>
</div>
