<form #ngFormAvatar="ngForm" (ngSubmit)="onSubmitAvatar()">
  <div *ngIf="user">
    <div class="avatar-container">
      <img [src]="avatarPreview ? avatarPreview :
                  user.avatarPath ? apiURL + user.avatarPath :
                   '/assets/avatar/default-avatar.png'" alt="user avatar">
      <div>
        <label  for="avatar"><mat-icon *ngIf="!avatarPreview">add</mat-icon></label>
        <input id="avatar" type="file" name="avatar" (change)="onFileSelected($event)" required [ngModel] accept=".jpg, .png, .jpeg .svg">
      </div>
    </div>
  </div>
  <div *ngIf="!user">
    <div class="avatar-container">
      <img [src]="'/assets/avatar/default-avatar.png'" alt="user avatar">
      <div>
        <label for="avatar"><mat-icon>add</mat-icon></label>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="button" [disabled]="!ngFormAvatar.valid">
      <span>
        Upload
      </span>
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</form>
<div class="validMessage" *ngIf="message">
  {{ message }}
  </div>
  <div class="errorMessage" *ngIf="errorMessage">
  {{ errorMessage }}
  </div>