<form #ngFormAvatar="ngForm" (ngSubmit)="onSubmitAvatar()">
  <div *ngIf="user">
    <div class="avatar-container">
      <img [src]="avatarPreview ? avatarPreview :
                  user.avatar ? user.avatar :
                   '/assets/avatar/default-avatar.png'" alt="user avatar">
      <div>
        <label  for="avatar"><mat-icon *ngIf="!avatarPreview">add</mat-icon></label>
        <input id="avatar" type="file" name="avatar" (change)="onFileSelected($event)" required [ngModel]>
      </div>
    </div>
  </div>
  <div *ngIf="!user">
    <div class="avatar-container">
      <img [src]="'/assets/avatar/default-avatar.png'" alt="user avatar">
      <div>
        <label for="avatar"><mat-icon>add</mat-icon></label>
      </div>
    </div>
  </div>
  <button-check [value]="'upload'" [disabled]="!ngFormAvatar.valid"></button-check>
</form>