@import 'color.scss';

.images-container{

  min-height: 100%;
  padding: 2rem;
  line-height: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  -webkit-column-count: 4;
  -webkit-column-gap:0.5rem;
  -moz-column-count: 4;
  -moz-column-gap:0.5rem;
  column-count: 4;
  column-gap:0.5rem;


}

.card{
  position:relative;
 max-width: 100%;
 height: fit-content;
 overflow: hidden;
 background-color: white;
 margin-top: 0.5rem;
 border-radius: 0.25rem;
 cursor: pointer;
 box-shadow: $shadow;

 .image-container{
  width: 100%;
    img{
      max-width: 100%;
    }
 }

 .content-container{
  position: absolute;
  bottom: 0;
 }
}

@media (max-width: 1400px){
  .images-container{
    -webkit-column-count: 3;
    -webkit-column-gap:0.5rem;
    -moz-column-count: 3;
    -moz-column-gap:0.5rem;
     column-count: 3;
     column-gap:0.5rem;
  }

}
@media (max-width: 1200px){
  .images-container{
    padding: 1rem;
    -webkit-column-count: 2;
    -webkit-column-gap:0.5rem;
    -moz-column-count: 2;
    -moz-column-gap:0.5rem;
     column-count: 2;
     column-gap:0.5rem;
  }
}
@media (max-width: 800px){
  .images-container{
    padding: 0.5rem;
    -webkit-column-count: 1;
    -webkit-column-gap:0.5rem;
    -moz-column-count: 1;
    -moz-column-gap:0.5rem;
     column-count: 1;
     column-gap:0.5rem;
  }
}