@import "color.scss";

.container {
  padding: 2rem 2rem 3rem 2rem;

  h2{
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .container-category {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    .section{

      h3{
        color: $gray-500;
        margin-bottom: 1rem;
        font-weight: 500;
      }

      .grid-container{
        opacity: 0.8;
        border-radius: 0.5rem;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 400px;
        max-height: 300px;
        box-shadow: 2px 2px 1px rgba(0,0,0,0);
        transition: all 0.3s ease;

        &:hover{
          transform: scale(1.05);
          opacity: 0.95;
          box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
        }

        .items{
          cursor: pointer;
          overflow: hidden;


          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .items:nth-child(1){
          grid-row: 1;
          grid-column: 1;
        }

        .items:nth-child(2){
          grid-row: 2;
          grid-column: 1;
        }

        .items:nth-child(3){
          grid-row-start: span 2;
          grid-column: 2;
        }
      }

    }
  }

}
@media (max-width: 1300px){
  .container-category {
    gap: 1rem;
  }
  .grid-container{

    max-width: 300px;
    max-height: 300px;

  }
}

@media (max-width: 1000px){
  .container-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    h3{
      text-align: center;
    }
  }
  .grid-container{

    max-width: 300px;
    max-height: 300px;

  }
}
