@import 'color.scss';

.navigation-dashboard{
  width: 220px;
  min-height: 100vh;
  display: grid;
  grid-template-rows:  15fr 2fr 2fr;
  border-right: 1px solid $gray-100;

  .go-back{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      display: flex;
      align-items: center;
    }
  }
  nav{
    width: inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    li, ul{
      width: 100%;
    }
    a{
      position: relative;
      padding: 1.5rem 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &.active{
        background-color: $gray-600;
        color: white;

        mat-icon{
          color: white;
        }
      }

      &.link-hover:not(.active){
        background-color: $gray-100;
      }

      mat-icon{
        font-size: 22px;
        color: $gray-600;
      }
    }

  }
}

@media (max-width: 900px){
.navigation-dashboard{
  width: fit-content;
  .go-back span{
    display: none;
  }
  nav li{
    a{
      padding: 1rem 0.8rem;

      &.active{
        color: white;
        mat-icon{
          color: white;
        }
      }

    }
    div{
      display: none,
    }
  }
}
}