  <div appTranslate [delay]="600">
    <mat-icon>image</mat-icon>
    <h3>+ <span>{{ imagesNumber }}</span> Images</h3>
    <p>With millions of images shared on our platform, you'll never run out of inspiration. Whether you're looking to browse beautiful images or find new ideas for your own photography, our platform has something for everyone.</p>
  </div>
  <div appTranslate [delay]="500">
    <mat-icon>person</mat-icon>
    <h3>Up to <span>{{ usersNumber }}</span> Users</h3>
    <p>We're proud to say that our image sharing platform has a thriving community of users from all around the world. With tens of thousands of active users and millions of images shared, our platform is a hub for creative expression and social connection.</p>
  </div>
  <div appTranslate [delay]="400">
    <mat-icon>collections</mat-icon>
    <h3>Up to <span>{{ categoryNumber }}</span> Categories</h3>
    <p>Our image sharing platform hosts a wide variety of categories, ensuring that there's something for everyone. From stunning landscapes and beautiful portraits to adorable pets and delicious food, our platform has it all. We currently have over 20 different categories, with new ones being added all the time based on user demand.</p>
  </div>
