  <div appTranslate [delay]="600">
    <mat-icon>image</mat-icon>
    <h3>+ <span>{{ imagesNumber }}</span> Images</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis architecto sit molestiae magni nobis totam consequuntur fugiat excepturi, sunt magnam quam repudiandae recusandae deleniti? Repellendus et modi nam praesentium voluptatem deserunt at.</p>
  </div>
  <div appTranslate [delay]="500">
    <mat-icon>person</mat-icon>
    <h3>Up to <span>{{ usersNumber }}</span> Users</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero totam, nihil beatae aut corporis rerum incidunt tenetur, doloremque nam doloribus corrupti optio tempora neque in?</p>
  </div>
  <div appTranslate [delay]="400">
    <mat-icon>collections</mat-icon>
    <h3>Up to <span>{{ categoryNumber }}</span> Categories</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim necessitatibus id veniam eum explicabo molestiae. Modi quidem pariatur suscipit animi debitis! Soluta consequatur modi quae quisquam deserunt nesciunt placeat quasi molestiae. Repellat consectetur error dignissimos officia eveniet nostrum ullam, accusamus adipisci sapiente.</p>
  </div>
