

$gray-0: hsl(0, 0%, 98%);
$gray-25: hsl(0, 0%, 94%);
$gray-50: hsl(0, 0%, 90%);
$gray-75: hsl(0, 0%, 86%);
$gray-100: hsl(0, 0%, 78%);
$gray-200: hsl(0, 0%, 59%);
$gray-300: hsl(0, 0%, 43%);
$gray-400: hsl(0, 0%, 35%);
$gray-500: hsl(0, 0%, 27%);
$gray-600: hsl(0, 0%, 20%);
$gray-700: hsl(0, 0%, 16%);
$gray-800: hsl(0, 0%, 12%);
$gray-900: hsl(0, 0%, 8%);

$gray-0: hsl(220,25%, 98%);
$gray-25: hsl(220,25%, 94%);
$gray-50: hsl(220,25%, 90%);
$gray-75: hsl(220,25%, 86%);
$gray-100: hsl(220,25%, 78%);
$gray-200: hsl(220,25%, 59%);
$gray-300: hsl(220,25%, 43%);
$gray-400: hsl(220,25%, 35%);
$gray-500: hsl(220,25%, 27%);
$gray-600: hsl(220,25%, 20%);
$gray-700: hsl(220,25%, 16%);
$gray-800: hsl(220,25%, 12%);
$gray-900: hsl(220,25%, 8%);


$shadow: 2px 2px 5px rgba(0,0,0, 0.1);