

$gray-0: rgb(250,250,250);
$gray-25: rgb(240,240,240);
$gray-50: rgb(230,230,230);
$gray-75: rgb(220,220,220);
$gray-100: rgb(200,200,200);
$gray-200: rgb(150,150,150);
$gray-300: rgb(110,110,110);
$gray-400: rgb(90,90,90);
$gray-500: rgb(70,70,70);
$gray-600: rgb(50,50,50);
$gray-700: rgb(40,40,40);
$gray-800: rgb(30,30,30);
$gray-900: rgb(20,20,20);