@import 'color.scss';

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-component{
  display: flex;
  flex-direction: column;
  padding: 0.4rem 0;
  width: 100%;

  &.small{
    padding: 0rem 0;

    input[type="text"], input[type="password"], input[type="email"], textarea{
      padding: 0.4rem 0.4rem;
      margin: 0rem 0;
    }
  }

  label{
    font-weight: 500;
    color: $gray-600;
  }

  input[type="text"], input[type="password"], input[type="email"], textarea{
    padding: 0.6rem 0.6rem;
    margin: 0.3rem 0;
    border-radius: 0.25rem;
    border: solid 1px $gray-800;

    &:focus{
      outline: solid 1px $gray-600;
    }
  }
  textarea{
    resize: none;
  }


  .form-error-component{
    min-height: 20px;

    p{
      color: red;
      font-style: italic;
      font-size: 0.8rem;
      margin: 0;
    }
  }
}

button.log{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: max-content;
}

.button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border: 1px solid $gray-600;
  color: $gray-600;
  border-radius: 0.25rem;
  cursor: pointer;
  mat-icon{
    font-size: 22px;
  }
}