<header>
  <div class="logo">
    Logo
  </div>
  <nav>
    <ul>
      <li><a routerLink='/home'>Home</a></li>
      <li><a routerLink='/category'>Category</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="log-container">
    <div *ngIf="!(isLoggedIn$ | async)">
      <div>
        <a  routerLink="login">Login</a>
      </div>
      <div>
        <a routerLink="signin">Sign in</a>
      </div>
    </div>
    <div *ngIf="isLoggedIn$ | async">
      <div  appIconTransition *ngIf="(role$ | async) === 'ROLE_USER'">
        <a routerLink="dashboard"><mat-icon class="account-icon">account_circle</mat-icon></a>
      </div>
      <div appIconTransition *ngIf="(role$ | async) === 'ROLE_ADMIN'">
        <a  routerLink="admin"><mat-icon >account_circle</mat-icon></a>
      </div>
      <button appIconTransition class="log" (click)="logOut()"><mat-icon>power_settings_new</mat-icon></button>
    </div>
  </div>
</header>