@import 'color.scss';

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;

  .section{
    padding:1rem;
  }
  span{
    font-size: 1.1em;
    font-weight: 500;
    color: $primary-500
  }
}