@import 'color.scss';


$width: 100%;
$height: 100%;
.upload-container{
  padding: 2rem;
  background-color: white;
  border-radius: 0.45rem;
  box-shadow: $shadow;

}
form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  .up{
    border: dotted $gray-300 0.25rem;
    padding: 1.5rem;
    pointer-events: none;
    transition: border 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      border: dotted $gray-600 0.25rem;
    }
  }
  textarea{
    min-height: 200px;
  }
  label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;

     mat-icon{
      color: $gray-500;
      font-size: 22px;
     }
  }

}

.upload{
  position: relative;
  height: 100%;
  width: 100%;
  aspect-ratio: 3/2;
  pointer-events: auto;

    .input{
        position: absolute;
        inset: 0;


        input, label{
            position: absolute;
            inset: 0;
        }

        label{
          justify-content: center;
            cursor: pointer;
            color: $gray-300;
            transition: color 0.3s ease;

            &:hover{
              color: $gray-600;
            }

        }

        input{
            visibility: hidden;
        }

        .preview{
          overflow: hidden;
          width: 100%;
          height: 100%;

            img{
              width: 100%;
              height: 100%;
              object-fit: contain;

            }
        }
    }
}
@media (max-width: 1400px){
  form{
    gap: 1rem;

  }
  form .up{
    padding: 0.5rem;
  }
  .upload-container{
    padding: 1.5rem;
  }
}
@media (max-width: 1000px){
  form{
    grid-template-columns: 1fr;

    .up{
      padding: 1rem;
    }
    .upload-container{
      padding: 1rem;
    }
  }
}
@media (max-width: 700px){
  form .up{
    padding: 1rem;
  }
}