
@import 'reset.scss';
@import 'color.scss';
@import 'form.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');


.page-center-element{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
// h2{color: $primary-400 !important}
// h4{color: $primary-500 !important}
.elseMessage{
  text-align: center;
  color: $gray-400;
  font-size: 1.1rem;
  font-weight: 500;
}


