<div class="cont">
  <div class="container">
    <div class="container-avatar section">
        <h3><mat-icon>person</mat-icon> Choose a new Avatar:</h3>
        <app-avatar-form></app-avatar-form>
    </div>
    <div class="container-user section">
      <div>
        <h3><mat-icon>info</mat-icon> Personal informations:</h3>
        <app-user-update-form></app-user-update-form>
      </div>
    </div>
  </div>
  <div class="container-statistic section">
    <div>
      <h3><mat-icon>bar_chart</mat-icon> Statistics</h3>
      <app-statistique></app-statistique>
    </div>
  </div>
</div>