<div class="container">
  <div class="contact">
    <div>
      <h4>Address</h4>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>75000</p>
    </div>
    <div>
      <h4>Contact</h4>
      <p><span><mat-icon>phone</mat-icon> Tel:</span>  +33 4 15 57 45 16</p>
      <p><span><mat-icon>email</mat-icon> Email:</span> Loremipsum@gmail.com</p>
    </div>
    <div class="social">
      <h4>Follow us</h4>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
    </div>
  </div>
  <p class="copyright">&#169; 2022 Quentin Cozic | All Rights Reserved</p>
</div>
